<!-- Navigation Start -->
<nav class="navbar navbar-default main-nav">
	<div class="container">
		<a ui-sref="home" class="navbar-brand navbar-left navbar-home">NextTask</a>
		<div class="navbar-right">
			<button type="submit" class="btn btn-lg btn-sign-in navbar-btn pull-right" ng-click="home.openSignUpModal('sm')">Sign In!</button>
		</div>
		<!-- <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p> -->
	</div>
</nav>
<!-- Navigation End -->

<div class="container">
	<div class="row">
		<h1 class="text-center heading-text">Welcome to NextTask!</h1>
		<br />
		<div class="col-md-8 col-md-offset-2 jumbotron text-center home-jumbotron">
				<h2 class="heading-text">The Goal Oriented To Do List App</h2>
				<br />
				<p class="lead">NextTask is a simple to-do list app that keeps your to-do lists clean and realistic by removing tasks that are not completed within seven days.</p>
				<p class="lead">The idea is that if a task is not important enough to be completed within seven days, it does not belong on your to-do list.</p>
				<p class="lead">Expired tasks are still available under the Expired list, but they will be cleared from your Current list.</p>
				<a href="" class="btn btn-success btn-lg" ng-click="home.openSignUpModal('sm')">Sign Up!</a>
				<!-- <a href="" class="btn btn-default btn-lg">Login</a> -->
				<!-- {{home.test}} -->
		</div>
	</div>
</div>
