<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="text-center">My To Do List</h2>
		<br />
		<section class="text-center">
			<h4 class="text-center">Add a New Task</h4>
			<form class="form new-task-form">
				<div class="form-group form-group-lg form-group-new-task-description">
					<label class="sr-only" for="taskDescriptionInput">Description</label>
					<input type="text" class="form-control task-form-input" id="taskDescriptionInput" placeholder="Enter task description" ng-model="task.newTask.description" />
				</div>
				<div class="form-group form-group-lg form-group-new-task-priority">
					<label class="sr-only" for="taskPriorityInput">Priority</label>
					<input type="text" class="form-control task-form-input" id="taskPriorityInput" placeholder="Priority" ng-model="task.newTask.priority" />
				</div>
				<button type="submit" class="btn btn-success btn-lg" ng-click="task.Task.addTask(task.newTask)">Add Task</button>
			</form>
		</section>
		<!-- {{task.newTask.description}}
		{{task.newTask.priority}} -->
		<hr />
		<br />
		<ul class="nav nav-tabs nav-justified">
  		<li role="presentation" class="active"><a href="#">Current Tasks</a></li>
  		<li role="presentation"><a href="#">Expired Tasks</a></li>
  		<li role="presentation"><a href="#">Completed Tasks</a></li>
		</ul>
		<br />
		<table class="table">
			<thead>
				<tr>
					<th>Task Description</th>
					<th width="20%">Priority</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in task.activeTasks">
					<td>{{task.description}}</td>
					<td width="20%">{{task.priority}}</td>
				</tr>
			</tbody>
		</table>
		<!-- {{task.test}} -->
	</div>
</div>
