<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="text-center">My To Do List</h2>
		<br />
		<section class="text-center">
			<h4 class="text-center">Add a New Task</h4>
			<form class="form new-task-form">
				<div class="form-group form-group-lg form-group-new-task-description">
					<label class="sr-only" for="taskDescriptionInput">Description</label>
					<input type="text" class="form-control task-form-input" id="taskDescriptionInput" placeholder="Enter task description" ng-model="task.newTask.description" />
				</div>
				<div class="form-group form-group-lg form-group-new-task-priority">
					<label class="sr-only" for="taskPriorityInput">Priority</label>
					<!-- <input type="text" class="form-control task-form-input" id="taskPriorityInput" placeholder="Priority" ng-model="task.newTask.priority" /> -->
					<select class="form-control task-form-input" id="taskPriorityInput" ng-model="task.newTask.priority">
						<option value="" selected>Priority?</option>
						<option value="2">{{task.priorityMap[2]}}</option>
						<option value="1">{{task.priorityMap[1]}}</option>
						<option value="0">{{task.priorityMap[0]}}</option>
					</select>
				</div>
				<button type="submit" class="btn btn-success btn-lg" ng-click="task.Task.addTask(task.newTask)">Add Task</button>
			</form>
		</section>
		<!-- {{task.newTask.description}}
		{{task.newTask.priority}} -->
		<hr />
		<br />
		<ul class="nav nav-tabs nav-justified" ng-init="tab = 1">
  		<li role="presentation" ng-class="{active: tab == 1}"><a href="#" ng-click="tab = 1">Current Tasks</a></li>
  		<li role="presentation" ng-class="{active: tab == 2}"><a href="#" ng-click="tab = 2">Expired Tasks</a></li>
  		<li role="presentation" ng-class="{active: tab == 3}"}><a href="#" ng-click="tab = 3">Completed Tasks</a></li>
		</ul>
		<br />
		<!-- Current Tasks Table -->
		<table class="table" ng-show="tab === 1">
			<thead>
				<tr>
					<th>Task Description</th>
					<th width="15%">Priority</th>
					<!-- <th></th> -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="t in task.allTasks | orderBy: '-priority'" ng-hide="task.expired(t) || task.completed(t)" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
					<td class="task-description"><a href="#" ng-click="task.Task.completeTask(t)">{{t.description}}</a></td>
					<td class="task-priority" width="15%">{{task.priorityMap[t.priority]}}
						<span ng-show="t.priority == 2" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red"></span>
						<span ng-show="t.priority == 1" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: #ffd11a"></span>
						<span ng-show="t.priority == 0" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: green"></span>
					</td>
<!-- Custom sorting arrows -->
					<!-- <td width="4%" class="task-priority-arrows" ng-show="hovered">
						<span class="glyphicon glyphicon-triangle-top"></span>
						<span class="glyphicon glyphicon-triangle-bottom"></span>
					</td> -->
						<!-- Placeholder -->
					<!-- <td width="4%" ng-show="!hovered"> -->
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Expired Tasks Table -->
		<table class="table" ng-show="tab === 2">
			<thead>
				<tr>
					<th width="60%">Task Description</th>
					<th width="10%">Priority</th>
					<th width="10%">Created</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="t in task.allTasks" ng-hide="!task.expired(t) || task.completed(t)">
					<td><a href="#" ng-click="task.Task.completeTask(t)">{{t.description}}</a></td>
					<td width="10%">{{task.priorityMap[t.priority]}}
						<span ng-show="t.priority == 2" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red"></span>
						<span ng-show="t.priority == 1" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: #ffd11a"></span>
						<span ng-show="t.priority == 0" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: green"></span>
					</td>
					<td>{{task.dateFormat(t.createdAt)}}</td>
				</tr>
			</tbody>
		</table>
		<!-- Completed Tasks Table -->
		<table class="table" ng-show="tab === 3">
			<thead>
				<tr>
					<th>Task Description</th>
					<th width="20%">Priority</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="t in task.allTasks" ng-hide="!task.completed(t)">
					<td><a href="#" ng-click="task.Task.completeTask(t)">{{t.description}}</a></td>
					<td width="20%">{{task.priorityMap[t.priority]}}
						<span ng-show="t.priority == 2" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red"></span>
						<span ng-show="t.priority == 1" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: #ffd11a"></span>
						<span ng-show="t.priority == 0" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: green"></span>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- {{task.currentTime}} -->
		<!-- {{task.test}} -->
	</div>
</div>
