<!-- Navigation Start -->
<nav class="navbar navbar-default main-nav">
	<div class="container">
		<a ui-sref="tasks" class="navbar-brand navbar-left navbar-home">NextTask</a>
		<div class="navbar-right">
			<p class="sign-in-status" id="current-user-display-name" ng-show="task.currentUser"></p><button type="button" class="btn btn-lg btn-default navbar-btn" ng-click="task.User.signOut()">Logout</button>
		</div>
		<!-- <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p> -->
	</div>
</nav>
<!-- Navigation End -->

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 tasks-section">
			<h2 class="text-center tasks-header">My To Do List</h2>
			<br />
			<section class="new-task-form-section text-center">
				<h4 class="text-center tasks-header">Add a New Task</h4>
				<form class="form new-task-form">
					<div class="form-group form-group-lg form-group-new-task-description">
						<label class="sr-only" for="taskDescriptionInput">Description</label>
						<input type="text" class="form-control task-form-input" id="taskDescriptionInput" placeholder="Enter task description" ng-model="task.newTask.description" />
					</div>
					<div class="form-group form-group-lg form-group-new-task-priority">
						<label class="sr-only" for="taskPriorityInput">Priority</label>
						<!-- <input type="text" class="form-control task-form-input" id="taskPriorityInput" placeholder="Priority" ng-model="task.newTask.priority" /> -->
						<select class="form-control task-form-input" id="taskPriorityInput" ng-model="task.newTask.priority">
							<option value="" selected>Priority</option>
							<option value="2">{{task.priorityMap[2]}}</option>
							<option value="1">{{task.priorityMap[1]}}</option>
							<option value="0">{{task.priorityMap[0]}}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-success btn-lg new-task-button" ng-click="task.Task.addTask(task.newTask)">Add Task</button>
				</form>
			</section>
			<!-- {{task.newTask.description}}
			{{task.newTask.priority}} -->

			<div ng-show="tab == 1" class="alert alert-warning alert-dismissible alert-custom expiration-reminder" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <span><strong>Remember!</strong>  -  Tasks will move to the "Expired Tasks" tab after 7 days!</span>
			</div>

			<div ng-show="tab == 2" class="alert alert-warning alert-dismissible alert-custom expiration-reminder" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span><strong>Keep in mind</strong>  -  You can still mark expired tasks as complete! Just give em' a click!</span>
			</div>

			<div ng-show="tab == 3" class="alert alert-warning alert-dismissible alert-custom expiration-reminder" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span><strong>Got ahead of yourself?</strong>  -  You can unmark a task as complete by clicking on it</span>
			</div>

			<div ng-init="completedTask" ng-show="completedTask === true" class="alert alert-warning alert-dismissible alert-custom completed-task-alert" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span><strong>Hey {{$ctrl.currentUser.displayName}}, The {{t.description}} task was removed successfully! </strong>
			</div>

			<section class="tasks-display-section">
				<hr />
				<br />
				<ul class="nav nav-tabs nav-justified" ng-init="tab = 1">
		  		<li role="presentation" ng-class="{active: tab == 1}"><a href="#" ng-click="tab = 1">Current Tasks</a></li>
		  		<li role="presentation" ng-class="{active: tab == 2}"><a href="#" ng-click="tab = 2">Expired Tasks</a></li>
		  		<li role="presentation" ng-class="{active: tab == 3}"}><a href="#" ng-click="tab = 3">Completed Tasks</a></li>
				</ul>
				<br />

				<!-- Tasks Labels -->
				<div class="group">
					<h4 class="task-list-label-tasks pull-left">Tasks</h4>
					<h4 class="task-list-label-created-at pull-right" ng-show="tab !== 3">Created</h4>
					<h4 class="task-list-label-priority pull-right">Priority</h4>
				</div>

				<!-- Current Tasks -->
				<ul class="task-list" ng-show="tab === 1">
					<li class="task-item-no-tasks-yet" ng-hide="task.currentUserTasks.length > 0">Welcome! Please enter a new task above.</li>
					<li class="task-item" ng-repeat="t in task.currentUserTasks | orderBy: '-priority'" ng-hide="task.expired(t) || task.completed(t)" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
						<a class="btn btn-default task-item-link" href="#" ng-click="task.Task.completeTask(t)" data-toggle="tooltip" title="Click to mark as complete!">
							<div class="col-xs-9 task-description-div">
								<span class="task-item-description">{{t.description}}</span>
							</div>
							<div class="col-xs-1 task-priority-div">
								<span class="task-item-priority">
									{{task.priorityMap[t.priority]}}
									<span ng-show="t.priority == 2" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red"></span>
									<span ng-show="t.priority == 1" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: #ffd11a"></span>
									<span ng-show="t.priority == 0" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: green"></span>
								</span>
							</div>
							<div class="col-xs-2 task-created-at-div">
								<span class="task-item-created-at"> {{task.dateFormat(t.createdAt)}}</span>
							</div>
						</a>
					</li>
				</ul>

				<!-- Expired Tasks -->
				<ul class="task-list expired-tasks" ng-show="tab === 2">
					<li class="task-item" ng-repeat="t in task.currentUserTasks" ng-hide="!task.expired(t) || task.completed(t)" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
						<a class="btn btn-default task-item-link" href="#" ng-click="task.Task.completeTask(t)" data-toggle="tooltip" title="Click to mark as complete!">
							<div class="col-xs-9 task-description-div">
								<span class="task-item-description">{{t.description}}</span>
							</div>
							<div class="col-xs-1 task-priority-div">
								<span class="task-item-priority pull-right">
									{{task.priorityMap[t.priority]}}
									<span ng-show="t.priority == 2" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red"></span>
									<span ng-show="t.priority == 1" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: #ffd11a"></span>
									<span ng-show="t.priority == 0" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: green"></span>
								</span>
							</div>
							<div class="col-xs-2 task-created-at-div">
								<span class="pull-right task-item-created-at"> {{task.dateFormat(t.createdAt)}}</span>
							</div>
						</a>
					</li>
				</ul>

				<!-- Completed Tasks -->
				<ul class="task-list completed-tasks" ng-show="tab === 3">
					<li class="task-item" ng-repeat="t in task.currentUserTasks" ng-hide="!task.completed(t)" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
						<a class="btn btn-default task-item-link" href="#" ng-click="task.Task.completeTask(t)">
							<span class="pull-left glyphicon glyphicon-ok" aria-hidden="true"></span>
							<div class="col-xs-9 task-description-div group">
								<span class="task-item-description">{{t.description}}</span>
							</div>
							<div class="col-xs-2 col-offset-xs-1 task-priority-div delete-completed-task-div group">
								<span class="task-item-priority pull-right" ng-hide="hovered">
								{{task.priorityMap[t.priority]}}
									<span ng-show="t.priority == 2" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: red"></span>
									<span ng-show="t.priority == 1" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: #ffd11a"></span>
									<span ng-show="t.priority == 0" class="glyphicon glyphicon-flag" aria-hidden="true" style="color: green"></span>
								</span>
								<span class="pull-right delete-completed-task" ng-show="hovered" ng-click="task.Task.removeTask(t)">Remove</span>
							</div>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</div>
